body {
    background-image: url("images/real.jpeg");
}

button {
    display: block;
    margin: 10px auto 20px;
}

#title {
    font-size: 200px;
    background-color: white;
}

#sub {
    font-size: 200px;
    background-color: white;
}