body {
    background-image: url("imagesp/mariopushingp.jpg");
    background-size: 300px;
    font-family: 'Comic Sans MS';
}

<<<<<<< HEAD
#button {
    display: block;
    margin: 10px auto 20px;
    /* background-image: url("https://i1.sndcdn.com/artworks-QaAfZRINgUC5YD95-azdZLw-t500x500.jpg"); */
    background-color: black;
    border-color: black;
    height: 150px;
    width: 150px;
    background-image: url("imagesp/p.png");
    background-size: cover;
    border-radius: 30px;
    border: 3px solid;
=======
button {
    display: block;
    margin: 10px auto 20px;
>>>>>>> da0b507301817d20cf757dd5dcc062138654db27
}


#container {
    font-size: 40px;
    background-color: blue;
    text-align: center;
    color: white;
    border: 3px solid;
    border-radius: 30px;
    border-color: black;
    
}